server:
  port: 8012

spring:
  main:
    banner-mode: off

  profiles:
    active: dev

  application:
    name: auctioshop-gateway

eureka:
  client:
    service-url.defaultZone: http://localhost:8761/eureka
